.container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* max-height: 80%; */
}

.row {
  display: inline-flex;
  align-self: stretch;
  justify-self: stretch;
  justify-content: stretch;
  align-items: stretch;
  min-width: 100%;
}

.row > div {
  width: fit-content;
  border-bottom: 1px solid var(--tertiary-color);
  min-width: 20%;
}

.heading {
  font-size: var(--h3);
  color: var(--title-text-color);
  margin-bottom: 1vw;
  text-transform: uppercase;
  padding: 1vw 0vw;
}

.data {
  font-size: var(--normal-text);
  color: var(--paragraph-color);
  margin-bottom: 0.5vw;
}

.checkbox {
  height: var(--normal-text);
  width: var(--normal-text);
}

.label {
  font-size: var(--normal-text);
  color: var(--title-text-color);
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
}

.button {
  width: 100%;
  cursor: alias;
}
