.container {
  display: flex;
  padding: 0 5vw;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subtitle {
  color: var(--title-text-color);
  font-size: var(--h3);
  font-family: 'Volkorn', sans-serif;
  margin-top: 1vw;
  margin-bottom: 0;
}
