.nav {
  width: 100%;
  padding: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.brand > h2 {
  font-size: var(--h2);
  color: var(--title-text-color);
  font-family: 'Volkorn', sans-serif;
  margin: 0px 10px;
}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.logout {
  height: 40px;
  width: 40px;
  margin-left: 1vw;
}
