.title {
  font-size: var(--h2);
  color: var(--title-text-color);
  margin: 0;
  margin-bottom: 3vw;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}

.tabs > * {
  color: var(--title-text-color);
  font-size: var(--h3);
  text-align: center;
  flex: 1;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background 0.5s;
  text-decoration: none;
  padding: 0.5vw 0;
}

.tabs > *:hover {
  background-color: var(--primary-color);
}

.subtitle {
  color: var(--title-text-color);
  font-size: var(--h3);
  font-family: 'Volkorn', sans-serif;
  margin-top: 1vw;
  margin-bottom: 0;
}
