@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkorn&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

:root {
  --background-color: #0f0e17;
  --title-text-color: #fffffe;
  --paragraph-color: #a7a9be;
  --stroke-color: black;
  --primary-color: #ff8906;
  --primary-color-light: #ff951f;
  --primary-color-dark: #e57b05;
  --secondary-color: #f25f4c;
  --tertiary-color: #e53170;
  --tertiary-color-light: #e8467e;
  --tertiary-color-dark: #ce2c65;
  --green: #34a853;
  --red: red;

  --h1: 64px;
  --h2: 32px;
  --h3: 24px;
  --normal-text: 16px;
  --small-text: 12px;
  --border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-dark);
}
